<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Baked By Aisha</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/aisha.jpg') }}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <!-- <div class="container-fluid top-bar bg-dark text-light px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="row gx-0 align-items-center d-none d-lg-flex">
            <div class="col-lg-6 px-5 text-start">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Career</a></li>
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Terms</a></li>
                    <li class="breadcrumb-item"><a class="small text-light" href="#">Privacy</a></li>
                </ol>
            </div>
            <div class="col-lg-6 px-5 text-end">
                <small>Follow us:</small>
                <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn-lg-square text-primary border-end rounded-0" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn-lg-square text-primary pe-0" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Topbar End -->


    <!-- Banner Start -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="/" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="text-primary m-0">Baked By Aisha</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <!-- <a href="/service" class="nav-item nav-link">Services</a> -->
                <a href="/products" class="nav-item nav-link">Products</a>
                <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
            <div class=" d-none d-lg-flex">
                <div class="flex-shrink-0 btn-lg-square border border-light rounded-circle">
                    <i class="fa fa-envelope text-primary"></i>
                </div>
                <div class="ps-3">
                    <small class="text-primary mb-0">Email Us</small>
                    <p class="text-light fs-6 mb-0">contact@bakedbyaisha.com</p>
                </div>
            </div>
        </div>
    </nav>
    <!-- Banner End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="../static/img/carousel-2.jpg" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-8">
                                <p class="text-primary text-uppercase fw-bold mb-2">Customized Sweets</p>
                                <h1 class="display-1 text-light mb-4 animated slideInDown">Baked By Aisha</h1>
                                <p class="text-light fs-5 mb-4 pb-3">Home-based Bakery in Houston, TX</p>
                                <a href="" class="btn btn-primary rounded-pill py-3 px-5">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="../static/img/carousel-1.jpg" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-8">
                                <p class="text-primary text-uppercase fw-bold mb-2">Customized Sweets</p>
                                <h1 class="display-1 text-light mb-4 animated slideInDown">Baked By Aisha</h1>
                                <p class="text-light fs-5 mb-4 pb-3">Home-based Bakery in Houston, TX</p>
                                <a href="" class="btn btn-primary rounded-pill py-3 px-5">Order Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- About Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row img-twice position-relative h-100">
                        <div class="col-6">
                            <img class="img-fluid rounded" src="../static/img/aisha.jpg" alt="">
                        </div>
                        <div class="col-6 align-self-end">
                            <img class="img-fluid rounded" src="../static/img/2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <p class="text-primary text-uppercase mb-2">About Baked by Aisha</p>
                        <h1 class="display-6 mb-4">Welcome to Baked By Aisha</h1>
                        <p>Where every cake tells a story and every bite is a memory.</p>
                        <p>Founded in 2023 by Aisha Sattani, a passionate baker and undergraduate student at Babson College, our bakery has quickly become a cherished destination for those seeking unique, handcrafted baked goods.</p>
                        <p>Growing up, Aisha was inspired by her family’s tradition of celebrating with multiple homemade birthday cakes, leading her to hone her skills and open her bakery.</p>
                        <!-- <div class="row g-2 mb-4">
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Quality Products
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Custom Products
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Online Order
                            </div>
                            <div class="col-sm-6">
                                <i class="fa fa-check text-primary me-2"></i>Home Delivery
                            </div> -->
                        <!-- </div> -->
                        <a class="btn btn-primary rounded-pill py-3 px-5" href="">Order Here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Facts Start -->
     <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5">
                        <i class="fa fa-check-circle fa-4x text-primary mb-4"></i>
                        <p class="mb-2">Quality Products</p>
                        <!-- <h1 class="display-5 mb-0" data-toggle="counter-up">50</h1> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5">
                        <i class="fa fa-birthday-cake fa-4x text-primary mb-4"></i>
                        <p class="mb-2">Custom Designs</p>
                        <!-- <h1 class="display-5 mb-0" data-toggle="counter-up">175</h1> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5">
                        <i class="fa fa-shopping-cart fa-4x text-primary mb-4"></i>
                        <p class="mb-2">Online Order</p>
                        <!-- <h1 class="display-5 mb-0" data-toggle="counter-up">135</h1> -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.7s">
                    <div class="fact-item bg-light rounded text-center h-100 p-5">
                        <i class="fa fa-truck fa-4x text-primary mb-4"></i>
                        <p class="mb-2">Home Delivery</p>
                        <!-- <h1 class="display-5 mb-0" data-toggle="counter-up">9357</h1> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->
   

    <!-- Product Start -->
    <div class="container-xxl bg-light my-6 py-6 pt-4">
        <div class="container">
            <!-- <div class="bg-primary text-white rounded-bottom p-5 my-6 mt-0 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="display-5 text-white mb-0">Baking Memories, One Cake At A Time</h1>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <div class="d-inline-flex align-items-center text-start">
                            <i class="fa fa-phone-alt fa-2x flex-shrink-0"></i>
                            <div class="ms-4">
                                <p class="fs-6 fw-bold mb-0">Email Us</p>
                                <p class="fs-4 fw-bold mb-0">contact@bakedbyaisha.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <!-- <p class="text-primary text-uppercase mb-2">Bakery Products</p> -->
                <h1 class="display-6 mb-4">Our Signature Products</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                        <div class="text-center p-4">
                            <div class="d-inline-block border border-primary rounded-pill px-3 mb-3">$50+</div>
                            <h3 class="mb-3">Cakes</h3>
                            <span>Our cakes are made to celebrate your moments, customized with flavors and designs that perfectly suit your occasion.</span>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="../static/img/product-1.jpg" alt="">
                            <div class="product-overlay">
                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href="/products#:~:text=Our%20Bakery%20Products-,Cakes,-%2465%20%2D%2085"><i class="fa fa-eye text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                        <div class="text-center p-4">
                            <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">$4 - $6 each</div>
                            <h3 class="mb-3">Cupcakes</h3>
                            <span>Gift uniquely with our stunning cupcake bouquets, a sweet and thoughtful way to impress!</span>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="../static/img/product-2.jpg" alt="">
                            <div class="product-overlay">
                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href="/products#:~:text=in/8%20in-,Cupcakes,-%2448"><i class="fa fa-eye text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
                        <div class="text-center p-4">
                            <div class="d-inline-block border border-primary rounded-pill pt-1 px-3 mb-3">$4 - $6 each</div>
                            <h4 class="mb-3">Cookies</h4>
                            <span>Celebrate your event with custom sugar cookies, designed in any style or color to perfectly match your theme.</span>
                        </div>
                        <div class="position-relative mt-auto">
                            <img class="img-fluid" src="../static/img/product-3.jpg" alt="/products#:~:text=Size%3A%2018%20Cupcakes-,Cookies,-Location">
                            <div class="product-overlay">
                                <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-eye text-primary"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product End -->


    <!-- Service Start -->
    <div class="container-xxl py-3">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <!-- <p class="text-primary text-uppercase mb-2">// Our Services</p> -->
                    <h1 class="display-6 mb-4">What Do We Offer For You?</h1>
                    <p class="mb-5">We take pride in bringing you the best in baked goods, with a focus on quality, creativity, and convenience. Here’s what makes us special:</p>
                    <div class="row gy-5 gx-4">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa fa-check-circle text-white"></i>
                                </div>
                                <h5 class="mb-0">Quality Products</h5>
                            </div>
                            <span>Every dessert is made with premium ingredients and crafted to perfection, ensuring the highest quality in every bite.</span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa fa-birthday-cake text-white"></i>
                                </div>
                                <h5 class="mb-0">Custom Designs</h5>
                            </div>
                            <span>From cakes to cookies, our creations are tailored to your unique style and vision, making every celebration truly personal.</span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa fa-shopping-cart text-white"></i>
                                </div>
                                <h5 class="mb-0">Online Order</h5>
                            </div>
                            <span>Order your favorite treats effortlessly through our website and enjoy the convenience of seamless online shopping.</span>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                            <div class="d-flex align-items-center mb-3">
                                <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                    <i class="fa fa-truck text-white"></i>
                                </div>
                                <h5 class="mb-0">Home Delivery</h5>
                            </div>
                            <span>Skip the hassle of pickup—our reliable home delivery ensures your treats arrive fresh and on time, right when you need them</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row img-twice position-relative h-100">
                        <div class="col-6">
                            <img class="img-fluid rounded" src="../static/img/service-1.jpg" alt="">
                        </div>
                        <div class="col-6 align-self-end">
                            <img class="img-fluid rounded" src="../static/img/service-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Team Start -->
    <!-- <div class="container-xxl py-6">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="text-primary text-uppercase mb-2">// Our Team</p>
                <h1 class="display-6 mb-4">We're Super Professional At Our Skills</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <img class="img-fluid" src="../static/img/team-1.jpg" alt="">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Full Name</h5>
                                <span>Designation</span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <img class="img-fluid" src="../static/img/team-2.jpg" alt="">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Full Name</h5>
                                <span>Designation</span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <img class="img-fluid" src="../static/img/team-3.jpg" alt="">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Full Name</h5>
                                <span>Designation</span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <img class="img-fluid" src="../static/img/team-4.jpg" alt="">
                        <div class="team-text">
                            <div class="team-title">
                                <h5>Full Name</h5>
                                <span>Designation</span>
                            </div>
                            <div class="team-social">
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light rounded-circle" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Team End -->


<!-- Testimonial Start -->
<div class="container-xxl bg-light my-6 py-3 text-center" style="background-color: #f8dce2;">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6 mb-2">Hear from our Trusted Customers</h1>
        </div>
        <!-- Centering the carousel -->
        <div class="d-flex justify-content-center">
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s" style="max-width: 1200px;">
                <!-- Testimonial 1 -->
                <div class="testimonial-item bg-white rounded p-2" style="width: 300px;">
                    <div class="testimonial-image mb-3">
                        <img class="w-100 rounded border" src="../static/img/testimonials_mom.jpg" alt="" style="height: 200px; object-fit: cover;">
                    </div>
                    <div class="testimonial-info text-center mb-3">
                        <h5 class="mb-1">Mother's Day</h5>
                        <span>Cupcake Bouquet</span>
                    </div>
                    <p class="mb-0 text-center">
                        "I was blown away by the rose cupcake bouquet! It looked so realistic and beautiful, I almost didn’t want to eat it—but I’m glad I did because it was absolutely delicious."
                    </p>
                </div>

                <!-- Testimonial 2 -->
                <div class="testimonial-item bg-white rounded p-2" style="width: 300px;">
                    <div class="testimonial-image mb-3">
                        <img class="w-100 rounded border" src="../static/img/testimonials_munira.jpeg" alt="" style="height: 200px; object-fit: cover;">
                    </div>
                    <div class="testimonial-info text-center mb-3">
                        <h5 class="mb-1">Mammia Mia Birthday</h5>
                        <span>Smore's Cake</span>
                    </div>
                    <p class="mb-0 text-center">
                        "It was the BEST CAKE EVER! The design was exactly what I pictured for my 17th birthday. It tasted amazing, and everyone couldn’t stop talking about it. I’ll never forget it"
                    </p>
                </div>

                <!-- Testimonial 3 -->
                <div class="testimonial-item bg-white rounded p-2" style="width: 300px;">
                    <div class="testimonial-image mb-3">
                        <img class="w-100 rounded border" src="../static/img/testimonials_noah.JPEG" alt="" style="height: 200px; object-fit: cover;">
                    </div>
                    <div class="testimonial-info text-center mb-3">
                        <h5 class="mb-1">Noah's Smash Cake</h5>
                        <span>Chocolate Malt Cake</span>
                    </div>
                    <p class="mb-0 text-center">
                        "Omg Aisha!!! Too good!! The smash cake was absolutely perfect. It matched the race track theme perfectly. Thank you for making my baby’s first birthday so memorable!"
                    </p>
                </div>

                <!-- Testimonial 4 -->
                <div class="testimonial-item bg-white rounded p-2" style="width: 300px;">
                    <div class="testimonial-image mb-3">
                        <img class="w-100 rounded border" src="../static/img/testimonials_zoey.jpeg" alt="" style="height: 200px; object-fit: cover;">
                    </div>
                    <div class="testimonial-info text-center mb-3">
                        <h5 class="mb-1">Zoey's 5th Birthday</h5>
                        <span>Two-Tier Aladdin Themed Cake</span>
                    </div>
                    <p class="mb-0 text-center">
                        "OMG that cake design you created is out of this world! The cake was awesome and lots of people asked for your contact. Your dedication and details were unmatched. Thank you!"
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->



    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer my-3 mb-0 py-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Location</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Katy, Texas</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+1 (832) 860 - 7501</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>contact@bakedbyaisha.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href="https://www.facebook.com/share/12CP71ha8GM/?mibextid=LQQJ4d"><i class="fab fa-facebook"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-1" href="https://www.instagram.com/bakedbyaisha_/"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-0" href="https://www.linkedin.com/company/baked-by-aisha"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="/about">About Us</a>
                    <a class="btn btn-link" href="/contact">Contact Us</a>
                    <a class="btn btn-link" href="">Order Now</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Photo Gallery</h4>
                    <div class="row g-2">
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="../static/img/product-1.jpg" alt="Image">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="../static/img/product-2.jpg" alt="Image">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="../static/img/product-3.jpg" alt="Image">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="../static/img/coffeecake.jpg" alt="Image">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="../static/img/service-2.jpg" alt="Image">
                        </div>
                        <div class="col-4">
                            <img class="img-fluid bg-light rounded p-1" src="../static/img/boxcakes.jpg" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/counterup/counterup.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
</body>

</html>